In [23]:
from Bio import SeqIO
import pandas as pd
import os
from Bio import AlignIO

In [7]:
filepath='/Users/yutaoyan/Desktop/CD98mul.fasta'

In [8]:
seq_objects=SeqIO.parse(filepath, 'fasta')
sequences=[]
for seq in seq_objects:
    sequences.append(seq)

In [9]:
len(sequences)

6

In [10]:
first_record=sequences[0]

In [11]:
first_record.id

'NM_001012664.3'

In [12]:
first_record.name

'NM_001012664.3'

In [13]:
first_record.description

'NM_001012664.3 Homo sapiens solute carrier family 3 member 2 (SLC3A2), transcript variant 5, mRNA'

In [14]:
first_sequence=first_record.seq

In [15]:
len(first_sequence)

2035

In [16]:
for record in sequences:
    seq_id=record.id
    seq_name=record.name
    seq_description=record.description
    sequence=record.seq
    length=len(sequence)
    print(seq_id,seq.name,seq_description,length)

NM_001012664.3 NM_001013251.3 NM_001012664.3 Homo sapiens solute carrier family 3 member 2 (SLC3A2), transcript variant 5, mRNA 2035
NM_008577.4 NM_001013251.3 NM_008577.4 Mus musculus solute carrier family 3 (activators of dibasic and neutral amino acid transport), member 2 (Slc3a2), transcript variant 2, mRNA 2572
NM_001161413.1 NM_001013251.3 NM_001161413.1 Mus musculus solute carrier family 3 (activators of dibasic and neutral amino acid transport), member 2 (Slc3a2), transcript variant 1, mRNA 2813
NM_001012662.3 NM_001013251.3 NM_001012662.3 Homo sapiens solute carrier family 3 member 2 (SLC3A2), transcript variant 2, mRNA 2224
NM_002394.6 NM_001013251.3 NM_002394.6 Homo sapiens solute carrier family 3 member 2 (SLC3A2), transcript variant 3, mRNA 2221
NM_001013251.3 NM_001013251.3 NM_001013251.3 Homo sapiens solute carrier family 3 member 2 (SLC3A2), transcript variant 6, mRNA 1885

In [17]:
for record in sequences:
    seq_id=record.id
    sequence=record.seq
    length=len(sequence)
    print(seq_id,seq.name,length)

NM_001012664.3 NM_001013251.3 2035
NM_008577.4 NM_001013251.3 2572
NM_001161413.1 NM_001013251.3 2813
NM_001012662.3 NM_001013251.3 2224
NM_002394.6 NM_001013251.3 2221
NM_001013251.3 NM_001013251.3 1885

In [18]:
seq_ids=[]
seq_lengths=[]

In [19]:
for record in sequences:
    seq_id=record.id
    sequence=record.seq
    length=len(sequence)
    seq_ids.append(seq_id)
    seq_lengths.append(length)
    print('analysis complete')

analysis complete
analysis complete
analysis complete
analysis complete
analysis complete
analysis complete

In [20]:
print(seq_ids)

['NM_001012664.3', 'NM_008577.4', 'NM_001161413.1', 'NM_001012662.3', 'NM_002394.6', 'NM_001013251.3']

In [21]:
print(seq_lengths)

[2035, 2572, 2813, 2224, 2221, 1885]

In [24]:
dataframe=pd.DataFrame()
dataframe['Seq_Id']=seq_ids
dataframe['Seq_Length']=seq_lengths

In [25]:
dataframe.head()

           Seq_Id  Seq_Length
0  NM_001012664.3        2035
1     NM_008577.4        2572
2  NM_001161413.1        2813
3  NM_001012662.3        2224
4     NM_002394.6        2221

In [27]:
outdir='/Users/yutaoyan/Desktop'
os.chdir(outdir)

In [28]:
dataframe.to_csv('CD98.csv', index=False)